<div class="row">
  <div class="header">
    <div class="header-img">

      <img src="assets/slike/intro.jpg" alt="">
    </div>
    <div class="header-text">
      <h1>Welcome to HomeExchange</h1>
      <p>Your fastest way to find or sell home online.</p>
    </div>
  </div>
</div>
<div class="row">
  <div class="images">
    <ul>
      <li><img src="assets/slike/1.jpg" alt=""></li>
      <li><img src="assets/slike/2.jpg" alt=""></li>
      <li><img src="assets/slike/3.jpg" alt=""></li>
      <li><img src="assets/slike/4.jpg" alt=""></li>
      <li><img src="assets/slike/11.jpg" alt=""></li>
      <li><img src="assets/slike/6.jpg" alt=""></li>
      <li><img src="assets/slike/7.jpg" alt=""></li>
      <li><img src="assets/slike/10.jpg" alt=""></li>

    </ul>
  </div>
</div>

