.header {
  display: flex;
  justify-content: center;
  align-items: center;
  
  
  
  .header-img {

    img {
      width: 100%;
      position: relative;
  }
  }
  .header-text {
    text-align: center;
    margin-top: 10em;
    width: 50%;
    background-color: #37424979;
    color: white;
    position: absolute;
    
    
  }
}

.images {
  display: flex;


  ul {
    display: flex;  
    flex-wrap: wrap;  
    justify-content: center;
    padding: 0;  
    li {
      width: 24%;
      overflow: hidden;
      
      img {
        width: 19.7em;
        transition: transform .5s ease;
      }
    }
    li:hover img {
      transform: scale(1.1);
    }
  }
}

@media screen and (max-width:1000px) {
  .images {
    ul {
      li {
        width: 50%;
        img {
          width: 100%;
        }
      }
    }
  }
  
}

@media screen and (max-width:775px) {
  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    .header-img {
  
      img {
        width: 100%;
        position: relative;
    }
    }
    .header-text {
      text-align: center;
      margin-top: 50px !important;
      width: 50%;
      background-color: #37424979;
      color: white;
      position: absolute;
      p {
        font-size: 15px;
      }
      
      
    }
  }
}

@media screen and (max-width:585px){
  .header {
   justify-content: flex-start !important;
    overflow: hidden;
    .header-img {
  
      img {
        // width: 200%;
        display: none;
        width: 200%;
        
    }
    }
    .header-text {
      text-align: center;
      height: 130%;
      width: 100%;
      padding-top: 50px !important;
    
      
      background-color: #374249;
      color: white;
      
      position: relative;
      
      
      h1 {
        font-size: 64px;
      }
     
      
      p {
        font-size: 36px;
      }
      
      
    }
  }
  
}