.container {
  display: flex;
  background-color: #374249;
  margin: 0;
  padding:0;
  width: 100%;
 
  
  .message {
    margin-left: auto;
    padding:20px;
    transition: .8s ease-in-out;
  }
  .message:hover {
    transform: rotateY(180deg)
  }


  .menu {
    margin-left: auto;
    align-self: center;
    padding: 20px;
    display: none;
    cursor: pointer;
  }
  .home {
    background-color: #f75311;
    padding: 0.9em;
    margin: 0;
    display: flex;

    img {
      width: 50px;
      
    }
    
    h4 {
      cursor: pointer;
      transition: 350ms;
      margin: 0;
      display: flex;
      align-items: center;
    }
    h4:hover {
      transform: scale(1.1);
    }
  }
  
  
  nav {
    width: 100%;
    display: flex;
    align-items: center;
    
    .bars {
      .icon {
        display: none;
      }
    }

    ul {
      display: flex;
      
      margin: 0;
      // padding: 20px;
      
      gap: 5em;
      list-style: none;

      li {

        a {
          font-size: 1rem;
          padding: 5px;
          text-decoration: none;
          color: white;
          position: relative;
         
        }
        a::after {
          content: '';
        position: absolute;
      width: 100%;
      height: 2px;
       bottom: 0;
       left: 0;
        background-color: #f75311;
      transform-origin: center;
      transition: transform 0.25s ease-out;
        }
        a::after {
          transform: scaleX(0);
        }
        a:hover::after {
          transform: scaleX(1);
        }
       
      }
 
    }
  }
}

@media screen and (max-width:800px) {
    nav {
      flex-direction: column;
      align-items: flex-start !important;
      width: 100% !important;
      ul {
        flex-direction: column;
        justify-content: center !important;
        align-items: center !important;
        padding: 10px;
        gap: 20px !important;
        width: 100%;
        display: none !important;
        li {
          a {
            font-size: 22px !important;
            
          }
        }
      }
      .message {
        display: none;
      }
      
      .bars {
        display: flex !important;
        width: 100%;
        
        .icon {
          display: block !important;
          position: absolute;
          left: 85%;
          top: 25px;
          cursor: pointer;   
        }
      }
      
      .bars:hover {
        ul {
          display: flex !important;
          background-color: #37424988 !important;
        }
      }
      
    }

}

@media screen and (max-width:770px) {
  .bars {
    display: flex !important;
    width: 100%;
    
    .icon {
      display: block !important;
      position: absolute;
      left: 78% !important;
      top: 25px;
      cursor: pointer;   
    }
  }
  
}

@media screen and (max-width: 575px) {
  .container {
    nav {
      height: 20vh;
      .home {
        height: 100%;
        img {
          width: auto;

        }
        h4 {
          font-size: 48px;
        }
      }
      .bars {
        .icon {
          width: 80px;
          height: 80px;
          top: 50px;
          left: 246%  !important;
        }
      }
    }
  }
  
}