.footer {
  color: white;
  background-color: #374249;
  
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  

  
  margin-top: 130px;
  
  .about {
    text-align: end;
    padding: 10px;

    ul {
      list-style: none;
      li {
        a {
          color:  rgba(255, 255, 255, 0.627);
          text-decoration: none;
        }
      }
    }
  }

  .contact {
    text-align: center;
    padding: 10px;
    ul {
      list-style: none;
      li {
        color:  rgba(255, 255, 255, 0.627);
      }
    }
  }

  .location {
    padding: 10px;
    text-align: center;
    
    ul {
      list-style: none;
      li {
        color: rgba(255, 255, 255, 0.627);
      }
    }
  }


  .logo {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
    
    .copy{
      text-transform: none;
      margin: 0;
      a {
        text-decoration: none;
      }
    }

    h4{
      font-size: 28px;
      .icon {
        background-color: #f75211;
        width: 30px;
        height: 30px;
        padding: 5px;
        border-radius: 5px;
      }
    }
    p {
      text-transform: uppercase;
    }
    ul {
      list-style: none;
      display: flex;
      gap: 20px;
      li {
        a {
          .icon-net {
            background-color: white;
            width: 50px;
            height: 50px;
            padding: 5px;
            border-radius: 50%;
            transition: .5s ease;
          }
          .icon-net:hover {
            transform: scale(1.1);

          }
        }

      }
    }
  }
}

@media screen and (max-width:1000px) {
  .footer {
    .logo {
      h4 {
        font-size: 18px;
      }
      p {
        font-size: 12px;
      }
      ul {
        padding-left: 0;
        li {
          .icon-net {
            width: 30px !important;
            height: 30px !important;
          }
        }
      }
    }
    div {
      p {
        font-size: 14px;
      }
      ul, li,a {
        font-size: 12px;
      }
    }
  }
  
}

@media screen and (max-width:770px) {
  .footer {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    .logo {
      display: flex !important;
      justify-content: center !important;
      align-items: center ;

      h4 {
        font-size: 28px;
      }
      p {
        font-size: 16px;
      }
      ul {
        padding-left: 0;
        li {
          .icon-net {
            width: 50px !important;
            height: 50px !important;
          }
        }
      }
    }
    .footer-content {
      width: 100% !important;
      display: flex ;
      justify-content: space-evenly;
      
      div {
        text-align: center !important; 
        ul {
          padding: 0;
        }
      }
      

      
    }
  }
  
}

@media screen and (max-width:580px) {
  .footer {
    .logo {
      h4 {
        font-size: 84px;
      }
      .icon {
        width: 80px !important;
        height: 80px !important;
        border-radius: 10px !important;
      }
      p {
        font-size: 32px;
      }
      ul {
        li {
          .icon-net {
            width: 100px !important;
            height: 100px !important;
          }
        }
      }
      .copy {
          margin-top: 50px;
          margin-bottom: 50px;
          font-size: 48px !important;
        
        a {
          font-size: 48px;
        }
      }

    }

    .footer-content {
      div {
        p{
          font-size: 52px;
          font-weight: bold;
        }
        ul,li,a {
          font-size: 42px;
        }
      }
    }
  }
  
}