.main-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px;
  
  h2 {
  color: #374249;
  text-transform: uppercase;
  font-weight: bold;
  }
  p {
    color: #374249;
    font-weight: 600;
    text-transform: uppercase;
    .offer-icon {
      background-color: #f75311;
      padding: 5px;
      width: 30px;
      height: 30px;
      border-radius: 5px;
    }
  }

}

.buy {
  color: #000;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  margin-bottom: 50px;
 
    
  .house {
    width: 45%;
    
    border-radius: 10px;
    -webkit-box-shadow: 1px 1px 32px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 1px 32px -8px rgba(0,0,0,0.75);
    box-shadow: 1px 1px 32px -8px rgba(0,0,0,0.75);
    
      img {
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        width: 100%;
        height: 350px;
      }
    
    .house-text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      button {
        background-color: #f75311;
        border: none;
        border-radius: 5px;
        padding:10px 10px;
        width: 10em;
        color: white;
        margin-bottom: 20px;
        
      }
      ul {
        list-style: none;
        display: flex;
        width: 100%;
        padding: 5px;
        justify-content: space-evenly;
        li {
          
          padding: 5px;
          line-height: 2.4;
          font-size: 18px;
        }
        .location {
          width: 30px;
          height: 30px;
          background-color: #f75311;
          padding: 0px;
          border-radius: 5px;
          margin-right: 10px;
        }
        .icon {
          width: 30px;
          height: 30px;
          background-color: #f75311;
          padding: 5px;
          border-radius: 5px;
        }
      }
    }
  }
}

@media screen and (max-width:1000px) {
  .buy {
    
      .house {
        img {
          height: 200px;
        }
      }
      .house-text {
        ul {
          .section-one,.section-two {
            li {
              font-size: 14px;
              
            }
          }
        }
      }
    
  }
  
}

@media screen and (max-width:770px) {
  .buy {
    .house {
      width: 100%;
      img {
        height: auto;
      }
    }
    .house-text {
      ul {
        .section-one,.section-two {
          li {
            font-size: 18px;
            
          }
        }
      }
    }
  }
  
}

@media screen and (max-width:580px) {
  .main-text {
    h2 {
      font-size: 96px;
    }
    p {
      font-size: 48px;
      .offer-icon {
        width: 80px;
        height: 80px;
        border-radius: 10px;
      }
    }
  }
  
  .buy {
    .house {
      width: 90%;
      img {
        height: auto;
      }
    }
    .house-text {
      ul {
        .section-one,.section-two {
          li {
            font-size: 58px;
             .icon {
              width: 80px;
              height: 80px;
              border-radius: 10px;
              padding: 10px;
            }
            .location {
              width: 80px;
              height: 80px;
              border-radius: 10px;
            }
          }
        }
      }
      button {
        font-size: 68px;
        border-radius: 20px !important;
      }
    }
  }
  
}